@font-face {
  font-family: "Press Start 2P";
  src: url("../fonts/PressStart2P-Regular.ttf"); }

image, canvas {
  user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-drag: none; }

body {
  background-color: black;
  color: white; }

canvas {
  background-color: black;
  display: block;
  margin: 0 auto 0 auto; }
